{% extends 'base.html.twig' %}

{% block title %}Hello WebsocketController!{% endblock %}

{% block body %}

<style>
    body {
        font-family: arial;
    }
 
    .form-group {
        margin-bottom: 10px;
    }
 
    input {
        border: solid lightgrey 1px;
        padding: 8px;
    }
 
    label {
        display: inline-block;
        min-width: 150px;
    }
 
    #chat {
        height: 400px;
        width: 600px;
        border: solid lightgrey 1px;
        overflow: auto;
        margin-bottom: 20px;
    }
 
    button {
        padding: 6px 12px;
    }
 
    .message {
        padding: 10px 5px;
        margin-bottom: 10px;
        border-bottom: solid lightgrey 1px;
    }
</style>
 
 
<div id="chat">
 
</div>
<div>
    <div class="form-group">
        <label for="name">Name:</label> <input type="text" id="name">
    </div>
    <div class="form-group">
        <label for="message">Message:</label> <input type="text" id="message">
    </div>
    <button type="button" id="sendBtn">Send</button>
</div>

<script type="text/javascript">
    const socket = new WebSocket("ws://10.8.34.60:5001");
 
    socket.addEventListener("open", function() {
        console.log("CONNECTED");
    });
 
    function addMessage(name, message) {
        const messageHTML = "<div class='message'><strong>" + name + ":</strong> " + message + "</div>";
        document.getElementById("chat").innerHTML += messageHTML
    }
 
    socket.addEventListener("message", function(e) {
        console.log(e.data);
        try
        {
            const message = JSON.parse(e.data);
            addMessage(message.name, message.message);
        }
        catch(e)
        {
            //Catch any errors
        }
    });
 
 
    document.getElementById("sendBtn").addEventListener("click", function() {
 
        const message = {
            name: document.getElementById("name").value,
            message: document.getElementById("message").value
        };
        socket.send(JSON.stringify(message));
        addMessage(message.name, message.message);
    });
</script>

{% endblock %}
