<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>вљ«пёЏ</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
	<header class="header">
            <h1 class="visually-hidden">
                Maya's anecdotes book
            </h1>

            <nav class="navbar navbar-expand-xl navbar-light bg-light">
                <div class="container mt-4 mb-3">
                    <a class="navbar-brand me-4 pr-2" href="{{ path('homepage') }}">
                        &#128217; Maya's anecdotes book
                    </a>

                    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#header-menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Show/Hide navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="header-menu">
                        <ul class="navbar-nav ms-auto">
                          {% if app.user == null %}
			    <li class="nav-item me-3">
                                <a class="nav-link" href="{{ path('app_login') }}">
                                    Login
                                </a>
                            </li>
			  {% else %} 
			    <li class="nav-item me-3">
                                <a class="nav-link" href="{{ path('app_logout') }}">
                                    Logout
                                </a>
                            </li>
			  {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>

            <nav class="bg-light border-bottom">
                <div class="container">
                    {# {{ render_esi(path('article_header')) }} #}
                </div>
            </nav>
        </header>

	<main role="main" class="container mt-5">
            {% block body %}{% endblock %}
        </main>
		
	<footer class="mt-7 px-3 py-5 text-center text-muted">
            <p>
                Maya's anecdotes book
            </p>
            <p>
                <a href="#" class="text-white">Back to top</a>
            </p>
        </footer>

    </body>
</html>

