{% extends 'base.html.twig' %}
{% block title %}Maya's anecdotes book - {{ article }}{% endblock %}
{% block body %}
<div class="row mb-3">
<div class="col-12 col-lg-8">
      <div class="media shadow border rounded-custom p-3 mb-4">
<h2> {{ article }} </h2>
<p>{{ article.content }}</p>
</div>
</div>
</div>
<div class="row">
  <h2> Comments </h2>
  <div class="col-12 col-lg-8 mb-5">
  {% if comments|length > 0 %}
    {% for comment in comments %}
      <div class="media shadow border rounded-custom p-3 mb-4">
          {% if comment.photofilename %}
	<div class="comment-img me-3"> 
            <a href="{{ asset('uploads/photos/' ~ comment.photofilename) }}" target="_blank">
	      <img src="{{ asset('uploads/photos/' ~ comment.photofilename) }}" />
            </a>
	</div>

	  {% endif %}
	<div class="media-body">
	  <h4 class="font-weight-light mb-0">
	    {% if app.user != null %}
	      <a href="{{ path('profile', {id: comment.user.id}) }}">{{ comment.user }}</a>
	    {% else %}
	      <span>{{ comment.user }}</span>
	    {% endif %}
	  </h4>
	  <div class="mb-2">
	    <small class="text-muted text-uppercase">{{ comment.createdAt|format_datetime('medium', 'short') }} </small>
	  </div> 
	  <div class="comment-text"> {{ comment.text|nl2br }} </div>
	</div>
      </div>
    {% endfor %}
    <div class="mb-2">There are {{ comments|length }} comments.</div>
      {% if previous >= 0 %}
	<a href="{{ path('article', { slug: article.slug, offset: previous }) }}">Previous</a>
      {% endif %}
      {% if next < comments|length %}
	<a href="{{ path('article', { slug: article.slug, offset: next }) }}">Next</a>
      {% endif %}
      {% else %}
	<div class="text-center">No comments have been posted yet for this article. </div>
      {% endif %}
    </div>
    {% if app.user != null %}
      <div class="col-12 col-lg-4">
        <div class="bg-light shadow border rounded-3 p-4"> 
          <h3 class="font-weight-light">Add your own feedback </h3>
	    {{ form(comment_form) }}
        </div>
      </div>
    {% endif %}
</div>
{% endblock %}
