{% extends 'base.html.twig' %}

{% block title %}User Profile #{{ user.id }}{% endblock %}

{% block body %}
    <h2>{{ user }}</h2>
    {% for comment in comments %}
	<p>{{ comment.text }}</p>
    {% endfor %}
    <button>Send message</button>
{% endblock %}
